<?xml version="1.0" encoding="UTF-8"?>
<phpunit
     backupStaticAttributes="false"

     cacheTokens="false"
     colors="false"
     convertErrorsToExceptions="true"
     convertNoticesToExceptions="true"
     convertWarningsToExceptions="true"
     forceCoversAnnotation="false"
     mapTestClassNameToCoveredClassName="false"

     processIsolation="false"
     stopOnError="false"
     stopOnFailure="false"
     stopOnIncomplete="false"
     stopOnSkipped="false"

     strict="false"
     verbose="false"
    >
	
    <testsuites>
        <testsuite name="AllTests">
        	<directory>.</directory>
        </testsuite>
		<testsuite name="DataClasses">
	        <directory>./DataClasses/.</directory>
        </testsuite>
		<testsuite name="Auth">
        	<directory>./phpauth/.</directory>
        </testsuite>
    </testsuites>
	<php>
    	<server name="REMOTE_ADDR" value="12.13.14.15" />
    	<server name="HTTP_USER_AGENT" value="James Bond" />
    </php>
    <filter>
        <blacklist>
            <directory suffix=".php"></directory>
            <file></file>
            <exclude>
                <directory suffix=".php"></directory>
                <file></file>
            </exclude>
        </blacklist>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php"></directory>
            <file></file>
            <exclude>
                <directory suffix=".php"></directory>
                <file></file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>