.font-family {
	padding: 1em 2em;
	
	&__title {
		text-align: center;
		font-size: 4em;
		border-bottom: .05em solid #ddd;
		margin-bottom: .5em;
	}
	
	&__footer {
		font-size: 1em;
		border-top: .05em solid #ddd;
	}
	
	&__alphabet {
		word-wrap: break-word;
		font-size: 3em;
		letter-spacing: 2px;
		margin-bottom: .5em;
	}
	
	&__link-text {
		padding-top: 1em;
		word-wrap: break-word;
	}
}
